/* Button */
@import '../libs/vars';  // Import the file containing _palette function
@import '../mixins/buttons';  // Import the mixins
.button {
  // Apply the base button styles
  @include button-base;

  // Standard button sizes
  &.small {
    @include button-size('small');
  }

  &.large {
    @include button-size('large');
  }

  // Button color variants using the mixins
  &.primary {
    @include button-variant(_palette(accent1, bg), _palette(accent1, border), _palette(accent1, fg));
  }

  &.secondary {
    @include button-variant(_palette(accent2, bg), _palette(accent2, border), _palette(accent2, fg));
  }

  &.accent {
    @include button-variant(_palette(accent3, bg), _palette(accent3, border), _palette(accent3, fg));
  }

  // Icon buttons
  &.icon {
    padding-left: 1.35em;

    &:before {
      margin-right: 0.5em;
    }
  }

  // Outline variants
  &.outline {
    @include button-outline-variant(_palette(fg));

    &.primary {
      @include button-outline-variant(_palette(accent1, fg));
    }

    &.secondary {
      @include button-outline-variant(_palette(accent2, fg));
    }
  }

  // Full-width button
  &.full {
    display: block;
    width: 100%;
    margin-bottom: 0.75em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  // Disabled state
  &:disabled, &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

// Button lists
.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2em;

  .button {
    margin-right: 1em;
    margin-bottom: 1em;

    &:last-child {
      margin-right: 0;
    }
  }

  &.vertical {
    flex-direction: column;
    align-items: stretch;

    .button {
      margin-right: 0;
      width: 100%;
    }
  }
}
